@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url("reset.css");
/* <img class="bg-image" src="images/desktop-green-background.png"/>*/
a {
    text-decoration: none;
}

.about {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(images/test-bg.png);
    background-repeat: no-repeat;
    height: 1039px;
}

.about-right p {
    font-family: "Radio Canada Big", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
    color: #000000;
    width: 526px;
height: 115px;
    line-height: 2.3rem;
    padding-bottom: 4rem;
}
.about-right {
    width: 526px;
    height: 270px;
    margin-left: 822px;
    margin-right: 72px;
    padding-top: 8.2rem;
}

.btn-brown {
    font-family: "Radio Canada Big", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:#452702; 
    color: #FFFFFF;
    border-radius: 5px;
}

.btn-white {
    font-family: "Radio Canada Big", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
}

.decisions {
display: flex;
width: 1071px;
height: 436px;
margin-left: 18.7rem;
margin-right: auto;
}

.decisions-left h1 {
    font-family: "Radio Canada Big", sans-serif;
  font-weight: 700;
    color: #FEE9A8;
    font-size: 7rem;
    font-weight: 700;
    line-height: 9.1rem;
    width: 273px;
    height: 319px;
}
.decisions-left {
    width: 319px;
    height: 280px;
    margin-left: 18.7px;
    margin-right: auto;
    margin-top: 25.3rem;

}

.decisions-right {
width: 416px;
height: 436px;
margin-top: 18.3rem;
}


.decisions-right img {
    width: 416px;
    height: 325px;
    padding-bottom: 6.8rem;

}

footer {
    background-color: #114130;
    width: 1440px;
    height: 304px;
    margin-right: auto;
    margin-left: auto;
     display: flex;
    justify-content: space-between;
}

footer a:visited {
  color: #FFFFFF;
  
}

footer a {
    padding-bottom: 49px;
}

footer img {
    width: 299px;
    height: 70px;
   margin-top: 111px;
   margin-bottom: 122px;
   margin-left: 72px;
}

.links-contact {
    width: 385px;
    height: 135px;
    margin-right: 374px;
    margin-left: 361px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 114px;
    height: 129px;
    font-family: "Radio Canada Big", sans-serif;
  font-weight: 400;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-decoration: none;
}

.links ul li {
    padding-bottom: 25px;
}

.contact {
      font-family: "Radio Canada Big", sans-serif;
  font-weight: 400;
    color: #FFFFFF;
    font-size: 1.6rem;
    height: 165px;
    width: 135px;
}

footer p {
    padding-top: 17px;
    font-weight: 400;
}

.hero h1 {
font-family: "Radio Canada Big", sans-serif;
    color: #FEE9A8;
    font-size: 7rem;
    font-weight: 700;
    line-height: 9.1rem;
    width: 62.7rem;
    height: 27.3rem;
     margin-left: 7.2rem; 
     padding-top: 6.7rem;
      margin-bottom: 5.2rem;
}
h2 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 4.8rem;
    font-weight: 700;
    padding-bottom: 1.2rem;
 margin-right: 53rem;
    margin-left: 53rem;
   
    margin-bottom: 2.8rem;
    width: 38rem;
}
h3 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 3.6rem;
    padding-bottom: 1.2rem;
}

h4 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 500;
color: #FFFFFF
}
.hero {
    background-image: url(images/desktop-speaker.png);
width: 1440px;
height: 498px;
background-repeat: no-repeat;
margin-right: auto;
margin-left: auto;
}

.hero .btn-white {
     margin-left: 7.2rem;
}

html {
    font-size: 10px;
    /* 10px=1rem*/
}
nav {
 background-color: #0E3024;
  width: 1440px;
  height: 138px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
   margin-left: 72px;
}

nav .btn-white {
  margin-left: 0px;
}

nav li a {
font-family: "Radio Canada Big", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  color: #FFFFFF;
  line-height: 2.1rem;
}

.photos {
    width: 1428px;
    height: 541px;
     margin-top: 7.1rem;
      margin-bottom: 6.1rem;
}

.photos .btn-brown {
    margin-left: 57.5rem;
    margin-right: 57.5rem;
    margin-bottom: 6.1rem;
}

.photos ul {
    display: flex;
    justify-content: space-between;
    width: 1428px;
    height: 338px;
    padding-bottom: 7.1rem;
}

.photo-arrows {
    margin-top: 130px;

}

.side-nav ul {
  display: flex;
  justify-content: space-between;
  width: 523px;
  margin-right: 96px;
}
